<%- include('includes/header'); %>
<%- include('includes/navbar'); %>

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
        <h1 class="text-center">Register</h1>
        <p class="text-center lead">Please fill the fields bellow with your contact information</p>
        <div class="row">
          <%- include('includes/messages'); %>
          <form class="container-fluid" action="/contact" method="POST">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter your first name" value="<%=contact.firstName%>" />
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter your last name"  value="<%=contact.lastName%>"/>
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="test" class="form-control" id="email" name="email" aria-describedby="emailHelp"  value="<%=contact.email%>"/>
              <small id="emailHelp" class="form-text text-muted">We'll never share any email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="phoneNumber">Phone Number</label>
              <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Enter your phone number"  value="<%=contact.phoneNumber%>"/>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" onclick="history.back();">Cancel</button>
          </form>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>

<%- include('includes/footer'); %>